.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem auto;
  text-align: center;
  border: solid 1px black;
  padding: 1rem; }
  .container div, .container button, .container input {
    margin: .5rem 0; }
